{%- capture product_tabs -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'content' -%}
        {%- if block.settings.page != blank -%}
          {%- assign title = block.settings.page.title -%}
          {%- assign content = block.settings.page.content -%}
        {%- else -%}
          {%- assign title = block.settings.title -%}
          {%- assign content = block.settings.content -%}
        {%- endif -%}

        {%- if block.settings.dynamic_content -%}
          {% assign content_found = false %}
          {% for i in (1..5) %}
            {% if content_found %}
              {% break %}
            {% endif %}

            {% assign content_key = 'content_' | append: i %}
            {% assign collection_key = 'content_' | append: i | append: '_collections' %}
            {% assign new_content = block.settings[content_key] %}
            {% assign collection_list = block.settings[collection_key] %}

            {% if new_content != blank and collection_list != blank %}
              {% assign handles = collection_list | split: ',' %}

              {% for handle in handles %}
                {% assign product_in_collection = false %}

                {% for prod_collections in product.collections %}
                  {% if prod_collections.handle == handle %}
                    {% assign product_in_collection = true %}
                    {% break %}
                  {% endif %}
                {% endfor %}

                {% if product_in_collection %}
                  {% assign content_found = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}

          {% if content_found %}
            {% assign content = new_content %}
          {% endif %}
        {%- endif -%}

        {%- if title != blank and content != blank -%}
          <div class="Collapsible Collapsible--large" {{ block.shopify_attributes }}>
            <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
              {{- title -}} <span class="Collapsible__Plus"></span>
            </button>

            <div class="Collapsible__Inner">
              <div class="Collapsible__Content">
                <div class="Rte">
                  {{- content -}}
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}

      {%- when 'reviews' -%}
        <div class="Collapsible Collapsible--large" {{ block.shopify_attributes }}>
          <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
            <span class="Collapsible__Button-Title">{{ 'product.tabs.reviews' | t }} <span class="text--light">({{ product.metafields.reviews.rating_count.value | default: 0 }})</span></span>
            <span class="Collapsible__Plus"></span>
          </button>

          <div class="Collapsible__Inner">
            <div class="Collapsible__Content">
              <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            </div>
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

{%- if product_tabs != blank -%}
  <div class="Product__Tabs">
    {{- product_tabs -}}
  </div>
{%- endif -%}
