{% assign splide-id = 'splide' | append: section.id %}

<section class="Section Section--spacingNormal blog-posts" id="section-{{ section.id }}" data-section-type="article-list" data-section-id="{{ section.id }}">
  <div class="Container splide {{ splide-id }}">
    {%- if section.settings.subheading != blank or section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center">
        {%- if section.settings.title != blank -%}
          <h2 id="Blog-Posts_Heading" class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
        
        {%- if section.settings.subheading != blank -%}
          <h3 id="Blog-Posts_SubHeading" class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
        {%- endif -%}
      </header>
    {%- endif -%}

    {%- assign show_placeholders = true -%}

    <div class="ArticleListWrapper splide__track">
      <div id="blog_wrapper" class="ProductList ProductList--carousel Carousel splide__list" data-flickity-config='{{ flickity_options }}'>
        {%- assign block = section.blocks.first -%}

        {%- case block.type -%}
          {%- when 'article' -%}
            {%- for i in (1..3) -%}
              {%- assign article_option = 'article_' | append: i -%}
              {%- assign article = articles[block.settings[article_option]] -%}

              {%- unless article == empty -%}
                <div id="Blog_Cell" class="Carousel__Cell splide__slide">
                  {%- render 'article-item', block: block, article: article -%}
                </div>

                {%- assign show_placeholders = false -%}
              {%- endunless -%}
            {%- endfor -%}

          {%- when 'blog' -%}
            {%- assign blog = blogs[block.settings.blog] -%}

            {%- for article in blog.articles limit: 4 -%}
              {% assign remainder = forloop.index | modulo: 2  %}
              {% if block.settings.custom_color %}
                {% assign color1 = block.settings.color1 %}
                {% assign color2 = block.settings.color2 %}
              {% else %}
                {% assign color1 = '#6F5B3E' %}
                {% assign color2 = '#8D795C' %}
              {% endif %}
              <div id="Blog_Cell" class="Carousel__Cell splide__slide">
              <div class="ArticleItem_Wrapper" {% if remainder == 0 %} style="background: {{ color1 }};" {% else %} style="background: {{ color2 }};" {% endif %}>
                  {%- render 'article-item', block: block, article: article -%}
                </div>
              </div>

              {%- assign show_placeholders = false -%}
            {%- endfor -%}
        {%- endcase -%}

        {%- if show_placeholders -%}
          {%- for i in (1..4) -%}
            <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up {% if forloop.index == 4 %}hidden-tablet{% endif %}">
              <article class="ArticleItem">
                {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}

                <div class="ArticleItem__ImageWrapper AspectRatio" style="--aspect-ratio: 1.7">
                  {{ placeholder | placeholder_svg_tag: 'ArticleItem__Image PlaceholderBackground PlaceholderSvg--dark' }}
                </div>

                <div class="ArticleItem__Content">
                  {%- if section.settings.show_category -%}
                    <span class="ArticleItem__Category Heading u-h6 Text--subdued">{{ 'home_page.onboarding.article_category' | t }}</span>
                  {%- endif -%}

                  <h2 class="ArticleItem__Title Heading u-h2">
                    <a href="#">{{ 'home_page.onboarding.article_name' | t }}</a>
                  </h2>

                  <p class="ArticleItem__Excerpt">{{ 'home_page.onboarding.article_excerpt' | t }}</p>

                  <a href="#" class="ArticleItem__Link Button">{{ 'blog.article.read_more' | t }}</a>
                </div>
              </article>
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>

    {%- if section.settings.button_text != blank -%}
      <div class="SectionFooter">
        <a href="{{ section.settings.button_link }}" id="Shop-all_link" class="Button Button--primary">{{ section.settings.button_text | escape }}
          {% comment %} <img class="shop-all_vector" src="{{ 'Vector.svg' | asset_url }}" alt=""> {% endcomment %}
          <svg class="shop-all_vector" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.087 0L13.16 1.00406L17.0926 5.26387H0V5.26391V6.68385V6.6839H17.0925L13.16 10.9436L14.087 11.9476L19.602 5.97382L14.087 0Z" fill="#263238"/>
          </svg>
        </a>
      </div>
    {%- endif -%}
  </div>
</section>

{% render 'splide-init', id: splide-id, perPage: 4, slideType: 'slide', dots: false %}

{% schema %}
{
  "name": "Blog posts",
  "class": "shopify-section--bordered",
  "max_blocks": 1,
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": false
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "View all articles"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article_1",
          "label": "Article 1"
        },
        {
          "type": "article",
          "id": "article_2",
          "label": "Article 2"
        },
        {
          "type": "article",
          "id": "article_3",
          "label": "Article 3"
        }
      ]
    },
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        },
        {
          "type": "checkbox",
          "id": "custom_color",
          "label": "Enable using custom colors",
          "default": false
        },
        {
          "type": "color",
          "id": "color1",
          "label": "Color 1"
        },
        {
          "type": "color",
          "id": "color2",
          "label": "Color 1"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Blog",
      "name": "Blog posts",
      "settings": {},
      "blocks": [
        {
          "type": "blog",
          "settings": {
            "blog": "news"
          }
        }
      ]
    }
  ]
}
{% endschema %}
