{%- assign main_menu_handle = section.settings.primary_menu | default: 'main-menu' -%}
{%- assign main_menu = linklists.blog-topics -%}

<section id="blog_topics" class="SidebarMenu Drawer Drawer--small Drawer--fromLeft" aria-hidden="true" data-section-id="{{ section.id }}" data-section-type="blog_topics">
    <header class="Drawer__Header" data-drawer-animated-left>
      <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="blog_topics" aria-label="{{ 'header.navigation.close_sidebar' | t }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>
    {% assign tags = '' %}
      {% for tag in blog.all_tags %}
        {% if tags == blank %}
          {% assign tags = tag %}
        {% else %}
          {% assign tags = tags | append: ',' | append: tag %}
        {% endif %}
      {% endfor %}
    {% assign tags = tags | split: ',' | uniq %}

    <div class="Drawer__Content">
      <div class="Drawer__Main" data-drawer-animated-left data-scrollable>
        <div class="Drawer__Container">
          <nav class="SidebarMenu__Nav SidebarMenu__Nav--primary" aria-label="{{ 'header.navigation.sidebar_title' | t }}">
                        <div class="Collapsible">
                          <button class="article-filter filter-reset Collapsible__Button Heading u-h6">All Articles</button>
                        </div>
                      {% for tag in tags %}
                        <div class="Collapsible">
                          <button class="article-filter Collapsible__Button Heading u-h6">{{ tag }}</button>
                        </div>
                      {% endfor %}
            {% comment %} {% if template == 'blog' %}
              <h2 class="SectionHeader__Heading Heading u-h1 Phone-MenuHeading">Blog Topics</h2>
              {% for link in linklists.blog-topics.links %}
                <div class="Collapsible">
                  <a href="{{ link.url }}" class="Collapsible__Button Heading Link Link--primary u-h6">{{ link.title | escape }}</a>
                </div>
              {% endfor %}
            {% endif %} {% endcomment %}
          </nav>

          {%- assign secondary_menu = linklists[section.settings.secondary_menu] -%}

          <nav class="SidebarMenu__Nav SidebarMenu__Nav--secondary">
            <ul class="Linklist Linklist--spacingLoose">
              {%- for link in secondary_menu.links -%}
                <li class="Linklist__Item">
                  <a href="{{ link.url }}" class="Text--subdued Link Link--primary">{{ link.title | escape }}</a>
                </li>
              {%- endfor -%}

              {%- comment -%}We automatically add some links to the secondary menu{%- endcomment -%}

              {%- if shop.customer_accounts_enabled -%}
                <li class="Linklist__Item">
                  <a href="{{ routes.account_url }}" class="Text--subdued Link Link--primary">{{ 'header.navigation.account' | t }}</a>
                </li>
              {%- endif -%}
            </ul>
          </nav>
        </div>
      </div>

      {%- if section.settings.show_social_media -%}
        {%- capture social_media -%}
          {% render 'social-media', class: 'SidebarMenu__Social', spacing: 'fill' %}
        {%- endcapture -%}
      {%- endif -%}

      {%- if social_media != blank -%}
        <aside class="Drawer__Footer" data-drawer-animated-bottom>
          {%- if social_media != blank -%}
            {{ social_media }}
          {%- endif -%}
        </aside>
      {%- endif -%}
    </div>
</section>

<script>
  function handleize(string) {
    return string
      .toLowerCase()
      .replace(/\s+/g, '-') // Replace spaces with -
      .replace(/[^a-z0-9-]/g, ''); // Remove all non-alphanumeric characters
  }

  function tagFilters(){
    const articles = document.querySelectorAll('[data-tags]');
    const articleContainer = document.querySelector('[data-tag-filter]');
    const filters = document.querySelectorAll('.article-filter:not(.filter-reset)');
    const filtersReset = document.querySelectorAll('.article-filter.filter-reset');
    const clearFiltersBtn = document.querySelector('#clear-filters-btn');

    filtersReset.forEach(filterReset => {
      filterReset.addEventListener('click',() => {
        window.location.href = `/blogs/{{ blog.handle }}`
      })
    })

    filters.forEach(filter => {
      filter.addEventListener('click',() => {
        const tagHandle = handleize(filter.innerHTML);
        console.log('filter',filter,'{{ blog.handle}}',tagHandle);
        articleContainer.setAttribute('data-tag-filter',filter.innerHTML);
        window.location.href = `/blogs/{{ blog.handle }}/tagged/${tagHandle}`
      })
    })
  }
  document.addEventListener('DOMContentLoaded',tagFilters);
</script>

{% schema %}
{
  "name": "Blog Topics Menu",
  "settings": [
    {
      "type": "link_list",
      "id": "primary_menu",
      "label": "Primary menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary menu",
      "info": "This menu won't show dropdown items."
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "default": false
    }
  ]
}
{% endschema %}
