<section class="image-with-text-on-top" id="section-{{ section.id }}">
  <div class="Container values-container">
    <div class="Values">
      <h2 class="about-us-titles">{{ section.settings.title }}</h2>
      <div class="about-us_content">{{ section.settings.content }}</div>
    </div>
    <div class="image-container">
      {% for block in section.blocks %}
        <div class="inner-wrapper">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="Image - {{ block.settings.image.alt }}">
          <p class="subheading">{{ block.settings.heading }}</p>
          {{ block.settings.content }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>





{% schema %}
  {
    "name": "Image w/ text on top",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "text",
        "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
      }
    ],
    "blocks": [
      {
        "type": "image_text",
        "name": "Image With Text",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Subheading",
            "default": "USA Quality Build"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text Content",
            "default": "<p>A curated selection of the best quality USA-made furniture that lasts decades.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image w/ text on top",
        "settings": {}
      }
    ]
  }
{% endschema %}
