{%- capture section_settings -%}
{
  "productId": {{ product.id | json }},
  "recommendationsCount": {{ section.settings.recommendations_count }}
}
{%- endcapture -%}

{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "wrapAround": false,
  "contain": true,
  "cellAlign": "center",
  "watchCSS": true,
  "dragThreshold": 8,
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="product-recommendations" data-section-settings='{{ section_settings }}'>
  {%- if section.settings.heading != blank -%}
    <header class="SectionHeader SectionHeader--center">
      <div class="Container">
        <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.heading | escape }}</h2>
        <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.sub-heading }}</h3>
      </div>
    </header>
  {%- endif -%}

  <div class="Container">
    <div class="ProductRecommendations">
      {%- if recommendations.performed and recommendations.products.size > 0 -%}
        <div class="ProductListWrapper">
          <div class="ProductList ProductList--carousel Carousel" data-flickity-config='{{ flickity_options }}'>
            {%- for product in recommendations.products -%}
              <div class="Carousel__Cell">
                {% render 'product-item', product: product, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true %}
                
                {% comment %} Start of Buy Button addition {% endcomment %}
                {%- form 'product', product, class: 'ProductForm' -%}
                  {%- render 'product-data', product: product -%}
                          {%- if block.settings.show_payment_button == false or product.selling_plan_groups.size > 0 -%}
                            {%- assign use_primary_button = true -%}
                          {%- else -%}
                            {%- assign use_primary_button = false -%}
                          {%- endif -%}

                          <div class="ProductForm__BuyButtons" {{ block.shopify_attributes }}>
                            {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
                              <style>
                                #shopify-section-{{ section.id }} .shopify-payment-button {
                                  display: none;
                                }
                              </style>
                            {%- endif -%}

                            <button type="submit" data-use-primary-button="{% if use_primary_button %}true{% else %}false{% endif %}" class="ProductForm__AddToCart Button {% if product.selected_or_first_available_variant.available and use_primary_button %}Button--primary{% else %}Button--secondary{% endif %} Button--full" {% if product.selected_or_first_available_variant.available %}data-action="add-to-cart"{% else %}disabled="disabled"{% endif %}>
                              {%- if product.selected_or_first_available_variant.available -%}
                                <span>{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t }}{% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>

                                {%- if block.settings.show_price_in_button -%}
                                  <span class="Button__SeparatorDot"></span>
                                  <span>{{ product.selected_or_first_available_variant.price | money }}</span>
                                {%- endif -%}
                              {%- else -%}
                                {{- 'product.form.sold_out' | t -}}
                              {%- endif -%}
                            </button>

                            {%- if block.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
                              {{ form | payment_button }}
                            {%- endif -%}
                          </div>
                  {%- unless has_ouputted_variant_selector -%}
                    {%- comment -%}If for any reason the merchant has removed the variant selector block, we still output the ID here{%- endcomment -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {%- endunless -%}
                {% endform %}
                {% comment %} End of Buy Button Addition {% endcomment %}
              </div>
            {%- endfor -%}
          </div>
        </div>
      {%- else -%}
        {%- comment -%}Hide the section if there is no recommendations to show{%- endcomment -%}
        <style>
          #shopify-section-{{ section.id }} {
            display: none;
          }
        </style>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product recommendations",
  "class": "shopify-section--bordered",
  "templates": ["product"],
  "settings": [
    {
      "type": "paragraph",
      "content": "Dynamic recommendations change and improve with time. Create manual product recommendations using the Shopify Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations)."
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "text",
      "id": "sub-heading",
      "label": "Sub Heading",
      "default": "Product Recommendations"
    },
    {
      "type": "range",
      "id": "recommendations_count",
      "min": 1,
      "max": 10,
      "label": "Recommendations count",
      "default": 4,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_product_info",
      "label": "Show product info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Product recommendations"
    }
  ]
}
{% endschema %}